In [10]:
import numpy as np
import pandas as pd

### Example with a custom hight and weight dataset

In [11]:
data = pd.read_csv('altura_peso_dataset.csv')
data

    Altura (cm)  Peso (kg)
0           188      80.60
1           178      78.10
2           164      63.80
3           192      87.40
4           157      67.65
..          ...        ...
95          190      91.50
96          178      86.10
97          164      64.80
98          194      78.30
99          150      61.50

[100 rows x 2 columns]

In [12]:
X = data.iloc[:,0].values
y = data.iloc[:,1].values

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler((-1,1))
X_scaled = scaler.fit_transform(X.reshape(-1, 1))

In [14]:
# Leaky Relu Activation Function
def leaky_relu(x, derivate=False):
    alpha = 0.1
    if derivate:
        return np.where(x<=0,alpha,1)

    return np.where(x<=0, alpha*x, x)

In [15]:
D = X_scaled.shape[1]
w = 2*np.random.random(size=D)-1
b = 2*np.random.random()-1
lr = 1e-2
epochs = 2000

In [16]:
for epoch in range(epochs):
    cost = 0
    for x_n, y_n in zip(X_scaled, y):
        y_pred = np.dot(x_n, w) + b
        y_pred = leaky_relu(y_pred, derivate=False)
        error = y_n - y_pred
        w = w + lr*np.dot(error, x_n)
        b = b + error*lr
        cost += error**2

    if epoch%100 == 0:
        print(f'Epoch: {epoch} Cost: {cost}')

print(f'W: {w}')
print(f'B: {b}')
print(f'LR: {lr}')

Epoch: 0 Cost: 268617.2813631757
Epoch: 100 Cost: 3387.2162738626403
Epoch: 200 Cost: 3387.2162738626403
Epoch: 300 Cost: 3387.2162738626403
Epoch: 400 Cost: 3387.2162738626403
Epoch: 500 Cost: 3387.2162738626403
Epoch: 600 Cost: 3387.2162738626403
Epoch: 700 Cost: 3387.2162738626403
Epoch: 800 Cost: 3387.2162738626403
Epoch: 900 Cost: 3387.2162738626403
Epoch: 1000 Cost: 3387.2162738626403
Epoch: 1100 Cost: 3387.2162738626403
Epoch: 1200 Cost: 3387.2162738626403
Epoch: 1300 Cost: 3387.2162738626403
Epoch: 1400 Cost: 3387.2162738626403
Epoch: 1500 Cost: 3387.2162738626403
Epoch: 1600 Cost: 3387.2162738626403
Epoch: 1700 Cost: 3387.2162738626403
Epoch: 1800 Cost: 3387.2162738626403
Epoch: 1900 Cost: 3387.2162738626403
W: [11.95492043]
B: 77.51756100609074
LR: 0.01