In [41]:
import numpy as np
import pandas as pd

### Example with a custom hight and weight dataset

In [42]:
data = pd.read_csv('altura_peso_dataset.csv')
data

    Altura (cm)  Peso (kg)
0           188      80.60
1           178      78.10
2           164      63.80
3           192      87.40
4           157      67.65
..          ...        ...
95          190      91.50
96          178      86.10
97          164      64.80
98          194      78.30
99          150      61.50

[100 rows x 2 columns]

In [43]:
# Splitting the data into Features and Label
X = data['Altura (cm)'].values
y = data['Peso (kg)']

In [44]:
X

array([188, 178, 164, 192, 157, 170, 188, 168, 172, 160, 160, 173, 185,
       189, 173, 152, 171, 151, 173, 193, 179, 187, 151, 170, 182, 161,
       171, 193, 174, 198, 176, 191, 177, 165, 164, 196, 200, 193, 152,
       186, 200, 156, 170, 158, 188, 167, 153, 174, 163, 199, 158, 175,
       151, 169, 177, 196, 156, 193, 157, 196, 184, 163, 166, 185, 199,
       189, 153, 151, 155, 191, 153, 178, 167, 175, 193, 183, 159, 185,
       163, 180, 197, 164, 157, 163, 172, 189, 170, 165, 194, 167, 196,
       173, 175, 174, 194, 190, 178, 164, 194, 150], dtype=int64)

In [45]:
y

0     80.60
1     78.10
2     63.80
3     87.40
4     67.65
      ...
95    91.50
96    86.10
97    64.80
98    78.30
99    61.50
Name: Peso (kg), Length: 100, dtype: float64

In [46]:
# Normalizing the Feature data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler((-1, 1))
X_scaled = scaler.fit_transform(X.reshape(-1,1))
X_scaled

array([[ 0.52],
       [ 0.12],
       [-0.44],
       [ 0.68],
       [-0.72],
       [-0.2 ],
       [ 0.52],
       [-0.28],
       [-0.12],
       [-0.6 ],
       [-0.6 ],
       [-0.08],
       [ 0.4 ],
       [ 0.56],
       [-0.08],
       [-0.92],
       [-0.16],
       [-0.96],
       [-0.08],
       [ 0.72],
       [ 0.16],
       [ 0.48],
       [-0.96],
       [-0.2 ],
       [ 0.28],
       [-0.56],
       [-0.16],
       [ 0.72],
       [-0.04],
       [ 0.92],
       [ 0.04],
       [ 0.64],
       [ 0.08],
       [-0.4 ],
       [-0.44],
       [ 0.84],
       [ 1.  ],
       [ 0.72],
       [-0.92],
       [ 0.44],
       [ 1.  ],
       [-0.76],
       [-0.2 ],
       [-0.68],
       [ 0.52],
       [-0.32],
       [-0.88],
       [-0.04],
       [-0.48],
       [ 0.96],
       [-0.68],
       [ 0.  ],
       [-0.96],
       [-0.24],
       [ 0.08],
       [ 0.84],
       [-0.76],
       [ 0.72],
       [-0.72],
       [ 0.84],
       [ 0.36],
       [-0.48],
       [-0.36],
       [ 0.4 ],
       [ 0.96],
       [ 0.56],
       [-0.88],
       [-0.96],
       [-0.8 ],
       [ 0.64],
       [-0.88],
       [ 0.12],
       [-0.32],
       [ 0.  ],
       [ 0.72],
       [ 0.32],
       [-0.64],
       [ 0.4 ],
       [-0.48],
       [ 0.2 ],
       [ 0.88],
       [-0.44],
       [-0.72],
       [-0.48],
       [-0.12],
       [ 0.56],
       [-0.2 ],
       [-0.4 ],
       [ 0.76],
       [-0.32],
       [ 0.84],
       [-0.08],
       [ 0.  ],
       [-0.04],
       [ 0.76],
       [ 0.6 ],
       [ 0.12],
       [-0.44],
       [ 0.76],
       [-1.  ]])

In [47]:
# The Sigmoid Activation Function
def sigmoid(x, derivate=False):
    if derivate:
        y = sigmoid(x)
        return y * (1 - y)
    return (1 / (1 + np.exp(-x)))

In [48]:
# D=Dimensions; w=weights; b=bias; lr=learning rate
D = X_scaled.shape[1] or 1
w = 2*np.random.random(size=D)-1
b = 2*np.random.random()-1
lr = 1e-2

epochs = 2000

In [49]:
for epoch in range(epochs):
    cost = 0
    for x_n, y_n in zip(X, y):
        y_pred = np.dot(x_n, w) + b
        y_pred = sigmoid(y_pred,True)
        error = y_n - y_pred
        w = w + lr*np.dot(error, x_n)
        b = b + error*lr
        cost += error**2

    if epoch%100 == 0:
        print(f'Epoch: {epoch} Cost: {cost}')

print(f'W: {w}')
print(f'B: {b}')
print(f'LR: {lr}')

Epoch: 0 Cost: [603222.12249999]
Epoch: 100 Cost: [603222.1225]
Epoch: 200 Cost: [603222.1225]
Epoch: 300 Cost: [603222.1225]
Epoch: 400 Cost: [603222.1225]
Epoch: 500 Cost: [603222.1225]
Epoch: 600 Cost: [603222.1225]
Epoch: 700 Cost: [603222.1225]
Epoch: 800 Cost: [603222.1225]
Epoch: 900 Cost: [603222.1225]
Epoch: 1000 Cost: [603222.1225]
Epoch: 1100 Cost: [603222.1225]
Epoch: 1200 Cost: [603222.1225]
Epoch: 1300 Cost: [603222.1225]
Epoch: 1400 Cost: [603222.1225]
Epoch: 1500 Cost: [603222.1225]
Epoch: 1600 Cost: [603222.1225]
Epoch: 1700 Cost: [603222.1225]
Epoch: 1800 Cost: [603222.1225]
Epoch: 1900 Cost: [603222.1225]
W: [27167580.87583606]
B: [154272.47854011]
LR: 0.01